body {
    font-family: 'Montserrat', sans-serif;
}

header {
    z-index: 100;
    height: 100vh;
    background-image: linear-gradient(120deg, #d4fc79 0%, #47AB34 100%);
}
.cabecera {
    width: 100%;
    padding-top: inherit;
    padding-bottom: inherit;

}

.navbar{

    background-color: #FFFFFF;
    padding: 10px;
    
    }

.form-container {

    background-image: linear-gradient(140deg, #FAEEE7 0%, #24A19C 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.form-input {
    z-index: 1;
    position: relative;
    background: #FFFFFF;
    width: 900px;
    
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-bottom: 20px;
}

.form-button {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #325288;
    width: 40%;
    border: 0;
    border-radius: 10px;
    padding: 8px;
    color: #FFFFFF;
    font-size: 15px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form-button:hover,
.form-button:active,
.form-button:focus {
    background: #24A19C;
}

.form-control{
    color:black;
}

.footer{
    background-color: white;
    align-self: flex-end;
    width: 100%;
    height: 120px;
    text-align: center;
}

.for-navbar{
    color: var(--bs-navbar-brand-color);
    white-space: nowrap;    padding-top: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    white-space: 20px;
    padding: 10px 20px 10px 20px;
   
}
.for-navbar:hover{
color:#24A19C; ;
}

.form-button-icono{
    color:#325288;
}
.form-button-icono:hover{
    color:#24A19C;
}
.form-main{
    justify-content: center;
    text-align: center;
    padding: 20px;
    display: flex;
    min-height: 100vh;
    max-height: 0px;
    flex-wrap: wrap;
}
.divider{
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}
.custom-file-input:lang(es)~.custom-file-label::after {
    content: "Subir";
}